* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: url('../images/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif, Arial;
}

.form-container {
  background-color: transparent;
  padding: 40px 30px;
  border: solid 1px rgba(148, 147, 147, 0.432);
  border-radius: 10px;
  backdrop-filter: blur(7px);
  box-shadow: 1px 1px 3px rgb(2, 2, 2);
  
}

.form-container h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.username-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
.username-container input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  border: solid 1px rgba(156, 153, 153, 0.726);
  color: white;
  padding-left: 10px;
  font-size: 15px;
  background-color: transparent;
  outline: none;

}

.username-container input::placeholder {
  padding-left: 15px;
  color: white;
}
.username-container i {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: white;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  
}
.password-container input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  border: none;
  border: solid 1px rgba(156, 153, 153, 0.726);
  color: white;
  background-color: transparent;
  padding-left: 10px;
  font-size: 15px;
  outline: none;

}

.password-container input::placeholder {
  padding-left: 15px;
  color: white;
}

.password-container i {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: white;
}

.button-container button{
  background-color: rgb(247, 247, 247);
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: grab;
  transition: background-color 1s;
}
.button-container button:hover {
  background-color: rgba(247, 247, 247, 0.753);
}

.remember-me-container {
  font-size: 12px;
  
}
.remember-me-container label {
  text-align: start;
  margin-right: 10px;
}
.remember-me-container label input {
  margin-left: 10px;
  height: 11px;
}
.remember-me-container a {
  text-decoration: none;
  text-align: end;
  margin-left: 20px;
  color: white;
}
.remember-me-container a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.664);
}